@model CourseEquivalencySite.Models.Course

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="text-center">
        <h1>تفاصيل المادة</h1>
    </div>

    <hr />

    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.courseID)</th>
                        <td>@Html.DisplayFor(model => model.courseID)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.courseName)</th>
                        <td>@Html.DisplayFor(model => model.courseName)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.courseDescription)</th>
                        <td>@Html.DisplayFor(model => model.courseDescription)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.courseWeight)</th>
                        <td>@Html.DisplayFor(model => model.courseWeight)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.institutionId)</th>
                        <td>@Html.DisplayFor(model => model.institutionId)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="text-center mt-4">
        <a asp-action="Edit" asp-route-id="@Model?.courseID" class="btn btn-lg btn-danger rounded-pill">تعديل</a>
        <a asp-action="Index" class="btn btn-lg btn-danger rounded-pill">الرجوع للقائمة</a>
    </div>
</div>
