@model CourseEquivalencySite.Models.Course

@{
    ViewData["Title"] = "Details";
}

<div class="background-image"></div>
<div class="row justify-content-center content-container Course-form-body">
    <h1 class="text-center custom-darker-danger">تفاصيل المادة</h1>

    <div>
        <div class="login-box p-4 rounded bg-light">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th class="text-right">اسم المادة بالعربية:</th>
                        <td class="text-right">@Html.DisplayFor(model => model.courseNameAR)</td>
                    </tr>
                    <tr>
                        <th class="text-right">اسم المادة بالإنجليزية:</th>
                        <td class="text-right">@Html.DisplayFor(model => model.courseNameEN)</td>
                    </tr>
                    <tr>
                        <th class="text-right">وصف المادة بالعربية:</th>
                        <td class="text-right">@Html.DisplayFor(model => model.courseDescriptionAR)</td>
                    </tr>
                    <tr>
                        <th class="text-right">وصف المادة بالإنجليزية:</th>
                        <td class="text-right">@Html.DisplayFor(model => model.courseDescriptionEN)</td>
                    </tr>
                    <tr>
                        <th class="text-right">وزن المادة بالعربية:</th>
                        <td class="text-right">@Html.DisplayFor(model => model.courseWeightAR)</td>
                    </tr>
                    <tr>
                        <th class="text-right">وزن المادة بالإنجليزية:</th>
                        <td class="text-right">@Html.DisplayFor(model => model.courseWeightEN)</td>
                    </tr>
                    <tr>
                        <th class="text-right">اسم المنشأة:</th>
                        <td class="text-right">@Html.DisplayFor(model => model.institution.institutionNameAR)</td>
                    </tr>
                    <tr>
                        <th class="text-right">اسم التخصص:</th>
                        <td class="text-right">@Html.DisplayFor(model => model.major.majorNameAR)</td>
                    </tr>
                </tbody>
            </table>

            <div class="text-center mt-4">
                <a asp-action="Edit" asp-route-id="@Model?.courseID" class="btn btn-lg custom-darker-danger rounded-pill">تعديل</a>
                <a asp-action="Index" class="btn btn-lg custom-darker-danger rounded-pill">الرجوع للقائمة</a>
            </div>
        </div>
    </div>
</div>
