@model CourseEquivalencySite.Models.Course

@{
    ViewData["Title"] = "Details";
}

<div class="background-image"></div>
<div class="row justify-content-center content-container Course-form-body">
    <h1 class="text-center custom-darker-danger">تفاصيل المادة</h1>

    <div>
        <div class="login-box p-4 rounded bg-light opacity-75">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th class="text-right">@Html.DisplayNameFor(model => model.courseID):</th>
                        <td class="text-right">@Html.DisplayFor(model => model.courseID)</td>
                    </tr>
                    <tr>
                        <th class="text-right">@Html.DisplayNameFor(model => model.courseNameAR):</th>
                        <td class="text-right">@Html.DisplayFor(model => model.courseNameAR)</td>
                    </tr>
                    <tr>
                        <th class="text-right">@Html.DisplayNameFor(model => model.courseNameEN):</th>
                        <td class="text-right">@Html.DisplayFor(model => model.courseNameEN)</td>
                    </tr>
                    <tr>
                        <th class="text-right">@Html.DisplayNameFor(model => model.courseDescriptionAR):</th>
                        <td class="text-right">@Html.DisplayFor(model => model.courseDescriptionAR)</td>
                    </tr>
                    <tr>
                        <th class="text-right">@Html.DisplayNameFor(model => model.courseDescriptionEN):</th>
                        <td class="text-right">@Html.DisplayFor(model => model.courseDescriptionEN)</td>
                    </tr>
                    <tr>
                        <th class="text-right">@Html.DisplayNameFor(model => model.courseWeightAR):</th>
                        <td class="text-right">@Html.DisplayFor(model => model.courseWeightAR)</td>
                    </tr>
                    <tr>
                        <th class="text-right">@Html.DisplayNameFor(model => model.courseWeightEN):</th>
                        <td class="text-right">@Html.DisplayFor(model => model.courseWeightEN)</td>
                    </tr>
                    <tr>
                        <th class="text-right">@Html.DisplayNameFor(model => model.institutionId):</th>
                        <td class="text-right">@Html.DisplayFor(model => model.institutionId)</td>
                    </tr>
                    <tr>
                        <th class="text-right">@Html.DisplayNameFor(model => model.majorId):</th>
                        <td class="text-right">@Html.DisplayFor(model => model.majorId)</td>
                    </tr>
                </tbody>
            </table>

            <div class="text-center mt-4">
                <a asp-action="Edit" asp-route-id="@Model?.courseID" class="btn btn-lg custom-darker-danger rounded-pill">تعديل</a>
                <a asp-action="Index" class="btn btn-lg custom-darker-danger rounded-pill">الرجوع للقائمة</a>
            </div>
        </div>
    </div>
</div> 