@model CourseEquivalencySite.Models.Course

@{
    ViewData["Title"] = "Edit";
}

<div class="background-image"></div>
<div class="row justify-content-center content-container Course-form-body">
    <h1 class="text-center custom-darker-danger">تعديل مادة</h1>
    <div>
        <div class="login-box p-4 rounded bg-light">
            <form id="courseForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="courseID" />

                <div class="form-group mb-1" style="text-align: right">
                    <label asp-for="courseNameAR" class="form-label"><strong>اسم المادة بالعربية</strong></label>
                    <input asp-for="courseNameAR" id="courseNameAR" class="form-control" />
                    <span asp-validation-for="courseNameAR" class="text-danger"></span>
                </div>

                <div class="form-group mb-1" style="text-align: right">
                    <label asp-for="courseNameEN" class="form-label"><strong>اسم المادة بالإنجليزية</strong></label>
                    <input asp-for="courseNameEN" id="courseNameEN" class="form-control" />
                    <span asp-validation-for="courseNameEN" class="text-danger"></span>
                </div>

                <div class="form-group mb-1" style="text-align: right">
                    <label asp-for="courseDescriptionAR" class="form-label"><strong>وصف المادة بالعربية</strong></label>
                    <input asp-for="courseDescriptionAR" id="courseDescriptionAR" class="form-control" />
                    <span asp-validation-for="courseDescriptionAR" class="text-danger"></span>
                </div>

                <div class="form-group mb-1" style="text-align: right">
                    <label asp-for="courseDescriptionEN" class="form-label"><strong>وصف المادة بالإنجليزية</strong></label>
                    <input asp-for="courseDescriptionEN" id="courseDescriptionEN" class="form-control" />
                    <span asp-validation-for="courseDescriptionEN" class="text-danger"></span>
                </div>

                <div class="form-group mb-1" style="text-align: right">
                    <label asp-for="courseWeightAR" class="form-label"><strong>وزن المادة بالعربية</strong></label>
                    <input asp-for="courseWeightAR" id="courseWeightAR" class="form-control" />
                    <span asp-validation-for="courseWeightAR" class="text-danger"></span>
                </div>

                <div class="form-group mb-1" style="text-align: right">
                    <label asp-for="courseWeightEN" class="form-label"><strong>وزن المادة بالإنجليزية</strong></label>
                    <input asp-for="courseWeightEN" id="courseWeightEN" class="form-control" />
                    <span asp-validation-for="courseWeightEN" class="text-danger"></span>
                </div>

                <div class="form-group mb-1" style="text-align: right">
                    <label for="institutionId" class="form-label"><strong>اسم المنشأة</strong></label>
                    <select class="form-control" id="institutionId" onchange="fetchMajors(this.value)">
                        <option value="">@Model.institution.institutionNameAR</option>

                    </select>
                    <input type="hidden" id="hiddenInstitutionIds" name="hiddenInstitutionId" value="@Model.institutionId" />
                </div>

                <div class="form-group mb-1" style="text-align: right">
                    <label for="major" class="form-label"><strong>اسم التخصص</strong></label>
                    <select class="form-control" id="major">
                        <option value="">@Model.major.majorNameAR</option>
                    </select>
                    <input type="hidden" id="hiddenMajorId" name="hiddenMajorId" value="@Model.majorId" />

                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-lg custom-darker-danger rounded-pill mt-4" onclick="EditCourse()">حفظ</button>
                </div>
            </form>

            <div class="text-center mt-3">
                <a asp-action="Index" class="btn btn-lg custom-darker-danger rounded-pill">الرجوع للقائمة</a>
            </div>
        </div>
    </div>
</div>

    
<script>
    function getInstitution() {
        $.ajax({
            url: '/Equalize/getInstitutions/',
            type: 'GET',
            success: function (data) {
                $('#institutionId').empty();
                $.each(data, function (index, item) {
                    var option = '<option value="' + item.institutionID + '"';
                        option += ' selected="selected"';
                    option += '>' + item.institutionNameAR + '</option>';
                    $('#institutionId').append(option);
                });

                var selectedInstitutionId = $('#hiddenInstitutionIds').val();
                if (selectedInstitutionId) {
                    $('#institutionId').val(selectedInstitutionId).change();
                }
                fetchMajors(selectedInstitutionId);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }

    function fetchMajors(id) {
        $.ajax({
            url: '/Equalize/getMajors/' + id,
            type: 'GET',
            success: function (data) {
                $('#major').empty();
                $.each(data, function (index, item) {
                    $('#major').append('<option value="' + item.majorID + '">' + item.majorNameAR + '</option>');
                });

                var selectedMajorId = $('#hiddenMajorId').val();
                if (selectedMajorId) {
                    $('#major').val(selectedMajorId);
                }
                $('#hiddenInstitutionId').val(id);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }

    function EditCourse() {
        var formData = new FormData();
        formData.append('id', $('#courseID').val());
        formData.append('courseNameAR', $('#courseNameAR').val());
        formData.append('courseNameEn', $('#courseNameEN').val());
        formData.append('courseDescreptionAr', $('#courseDescriptionAR').val());
        formData.append('courseDescreptionEn', $('#courseDescriptionEN').val());
        formData.append('courseWeightAr', parseInt($('#courseWeightAR').val()));
        formData.append('courseWeightEn', parseInt($('#courseWeightEN').val()));
        formData.append('institutionId', parseInt($('#institutionId').val()));
        formData.append('majorId', parseInt($('#major').val()));

        fetch('@Url.Action("Edit", "Courses")', {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Data updated successfully:', data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }


    $(document).ready(function () {
        getInstitution();
    });
</script>
